.DS_Store
**.DS_Store**
*.env
*.pyc
*.pyo
__pycache__/
*.bkp
frontend_memo.md
frontend_process.md
frontend_structure.md
archives/
backend_structure.md
url_shortener_process.txt
test_url_shortener.txt
dockerhub_instruction.md
deploy_on_lightsail.md
andrewcee_io.pem
andrewcee_io.private_key
**Dockerfile_bkp
**Dockerfile_dev_bkp