<!-- features/home/home.component.html -->
<div class="home-container">
  <img src="assets/images/homepage_image.jpg" [style.opacity]="0.7" alt="Background">
  <div class="button-container">
    <button (click)="navigate('history')">History</button>
    <button (click)="navigate('2024')">2024</button>
    <button (click)="navigate('utilities')">Utilities</button>
  </div>

  <div class="social-buttons">
    <a href="https://www.instagram.com/andrew3_chen/" target="_blank" class="social-button">
      <img src="assets/images/instagram.svg" alt="Instagram">
    </a>
    <a href="https://www.linkedin.com/in/zhuo-chen-503890171/" target="_blank" class="social-button">
      <img src="assets/images/linkedin.svg" alt="LinkedIn">
    </a>
  </div>
</div>
