<div class="home-container">
  <a href="/" class="back-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 12H5M12 19l-7-7 7-7"/>
    </svg>
    <span>Home</span>
  </a>

  <img src="assets/images/homepage_image.jpg" [style.opacity]="0.7" alt="Background">
  <div class="content-container">
    <div class="button-container">
      <button class="url-shortener-button" (click)="onUrlShortenerClick()">
        URL Shortener
      </button>
    </div>

    <div *ngIf="showUrlShortener" class="url-shortener-wrapper">
      <app-url-shortener></app-url-shortener>
    </div>
  </div>
</div>
